table td{
    border:1px solid black;
    width:80px;
    height:80px;
    text-align: center;
    background-color: whitesmoke;
}

.container{
    display:flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top:5rem;
}

.container button{
    width:100px;
    height:40px;
    margin:3rem;
    background-color: beige;
}